<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>


  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container">
    <h1 class="text-center">Latitude, Longtitude to Address</h1>
    <h5 class="text-center">Enter latitude and longtitude and press enter or click OK button to show address!</h5>

    <div class="col-xs-6">
      <div style="margin-top:20px">
        <span style="margin-right:14px">Latitude</span>
        <input type="text" name="latitude" id="latitude" value="10.7942852">
      </div>
      <br>
      <div>
        <span>Longtitude</span>
        <input type="text" name="longtitude" id="longtitude" value="106.6979556">
      </div>

      <br>
      <div>
        <button type="submit" value="OK" id="btn-submit">OK</button>
      </div>
    </div>

    <div class="col-xs-6 result" style="padding-top: 20px"></div>

  </div>

  <script src="/javascripts/latlg.js"></script>


</body>

</html>